#ltpic1{
	width: 60px;
}

#ltpic2{
	width: 60px;
}

#ltpic3{
	width: 60px;
}

.lang_img{
    width: 20px;

}

.body {
}

iframe {
	width: 35em;
	height: 25em;
	border: 0;
}

body {
}

#gmap_canvas{
	height:30em;
	width:47em;
}

#gmap_canvas img{
	max-width:none!important;
	background:none!important
}

#front-page-img{
	width:980px;
	height:583px;
}

.navbar {
	margin-bottom: 3em;
	border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
	margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
	margin-top: 2em;
	background-color: #f2f2f2;
	padding: 1em;
}

[title]:hover:after{
	content: attr(title);
	position: absolute;
	top:1em;
	left:1.5em;
	padding: 0.2em 0.6em;
	border:0.1em solid lightgrey;
	background-color: cornsilk;
	width: 15em;
	z-index: 98;
	font-family: Cambria;
	font-size: medium;
	text-align: left;
}


