
.button {
	background-color: blue;
    /*color: white;*/
    padding: 15px 32px;
    /*text-align: center;*/
    /*text-decoration: none;*/
    display: inline-block;
    /*font-size: 16px;*/
    /*margin: 10px;*/
    /*cursor: pointer;*/
    /*border: 2px solid #a1a1a1;*/
    
    border-radius: 25px;

    /*padding: 20px; */

}
#header-buttons{
	top: 0;
	right: 0;
	position: absolute;
	margin: 10px;
}
#header-name{
	top: 0;
	position: absolute;
	left: 0;
	margin: 10px;
}
.header{
	position: relative;
	background-color: #a5ff0c;
	padding: 30px;
	margin: -10px;
}

.ltpic{
	width: 60px;
}

.body {
}

iframe {
	width: 500px;
	height: 350px;
	border: 0px;
}

body {
}

#gmap_canvas{
	height:440px;
	width:700px;
}

#gmap_canvas img{
	max-width:none!important;
	background:none!important
}
#front-page-img{
	width:980px;
	height:583px;

}

.navbar {
	margin-bottom: 50px;
	border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
	margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
	background-color: #f2f2f2;
	padding: 25px;
}